# Data Preparation and EDA for IoT23 dataset

In [1]:
import os 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
import csv
from numpy import array
from numpy import argmax
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [19]:
data= pd.read_csv('iot23_combined_new_3M.csv', low_memory=False)

In [22]:
data.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label,detailed_label
0,1.536227e+09,CeqqKl3hyLQmO8LK98,192.168.100.111,17576.0,78.1.220.212,8081.0,tcp,-,3e-06,0,...,-,-,0.0,S,2.0,80.0,0.0,0.0,POHScan,NaN
1,1.536227e+09,C2oHQWo1EFGH8D9x7,192.168.100.111,17576.0,152.84.7.111,8081.0,tcp,-,2e-06,0,...,-,-,0.0,S,2.0,80.0,0.0,0.0,POHScan,NaN
2,1.536227e+09,CJLVjs4BByG04mczXc,192.168.100.111,17576.0,173.36.41.67,8081.0,tcp,-,2e-06,0,...,-,-,0.0,S,2.0,80.0,0.0,0.0,POHScan,NaN
3,1.536227e+09,C0z4uS9AWHDH2s4S7,192.168.100.111,17576.0,87.13.21.104,8081.0,tcp,-,2e-06,0,...,-,-,0.0,S,2.0,80.0,0.0,0.0,POHScan,NaN
4,1.536227e+09,CxbNVk3liFNUIlqSPi,192.168.100.111,17576.0,99.110.163.140,8081.0,tcp,-,2e-06,0,...,-,-,0.0,S,2.0,80.0,0.0,0.0,POHScan,NaN

In [20]:
del data['Unnamed: 0']

In [21]:
data.tail()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label,detailed_label
2803565,1.562165e+09,CbiAr234EfpzQInxbg,0.0.0.0,68.0,255.255.255.255,67.0,udp,dhcp,90.034713,3300.0,...,-,-,0.0,D,11.0,3608.0,0.0,0.0,Benign,NaN
2803566,1.562165e+09,CqEhZf1lYmVokqECn3,::,143.0,ff02::16,0.0,icmp,-,90.39997,340.0,...,-,-,0.0,-,9.0,844.0,0.0,0.0,Benign,NaN
2803567,1.562165e+09,Cr5vKO1CGfMQwFp22c,::,135.0,ff02::1:ffd5:cdf,136.0,icmp,-,89.82403000000001,72.0,...,-,-,0.0,-,3.0,216.0,0.0,0.0,Benign,NaN
2803568,1.562165e+09,CQ5cJ21U9NUbUWIznd,fe80::5bcc:698e:39d5:cdf,143.0,ff02::16,0.0,icmp,-,45.215915,200.0,...,-,-,0.0,-,8.0,648.0,0.0,0.0,Benign,NaN
2803569,1.562165e+09,CjD5ve2qwxfFtvd4zl,fe80::5bcc:698e:39d5:cdf,133.0,ff02::2,134.0,icmp,-,44.242222999999996,0.0,...,-,-,0.0,-,2.0,96.0,0.0,0.0,Benign,NaN

# Cleaning Process start!

# dropping unncessary attributes !

In [23]:
df= data.drop(columns=['uid','id.orig_h','id.resp_h','local_orig','local_resp','detailed_label'])

In [24]:
df.head()

,ts,id.orig_p,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,1.536227e+09,17576.0,8081.0,tcp,-,3e-06,0,0,S0,0.0,S,2.0,80.0,0.0,0.0,POHScan
1,1.536227e+09,17576.0,8081.0,tcp,-,2e-06,0,0,S0,0.0,S,2.0,80.0,0.0,0.0,POHScan
2,1.536227e+09,17576.0,8081.0,tcp,-,2e-06,0,0,S0,0.0,S,2.0,80.0,0.0,0.0,POHScan
3,1.536227e+09,17576.0,8081.0,tcp,-,2e-06,0,0,S0,0.0,S,2.0,80.0,0.0,0.0,POHScan
4,1.536227e+09,17576.0,8081.0,tcp,-,2e-06,0,0,S0,0.0,S,2.0,80.0,0.0,0.0,POHScan

In [15]:
df= data.drop(columns=['service'],inplace=True)

In [25]:
df['orig_bytes'] = df['orig_bytes'].str.replace('-','0')
df['resp_bytes'] = df['resp_bytes'].str.replace('-','0')
df['duration'] = df['duration'].str.replace('-','0')
df['service'] = df['service'].str.replace('-','0')

In [26]:
df.isnull().sum()

ts               0
id.orig_p        0
id.resp_p        0
proto            0
service          0
duration         0
orig_bytes       0
resp_bytes       0
conn_state       0
missed_bytes     0
history          0
orig_pkts        0
orig_ip_bytes    0
resp_pkts        0
resp_ip_bytes    0
label            0
dtype: int64

Let us separate the target and independent variables

okkkk... so there are 7 target variables with very few samples.. we would like to remove all those

In [27]:
df=df.dropna()

In [31]:
X=df

In [32]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2803570 entries, 0 to 2803569
Data columns (total 16 columns):
 #   Column         Dtype
---  ------         -----
 0   ts             float64
 1   id.orig_p      float64
 2   id.resp_p      float64
 3   proto          object
 4   service        object
 5   duration       object
 6   orig_bytes     object
 7   resp_bytes     object
 8   conn_state     object
 9   missed_bytes   float64
 10  history        object
 11  orig_pkts      float64
 12  orig_ip_bytes  float64
 13  resp_pkts      float64
 14  resp_ip_bytes  float64
 15  label          object
dtypes: float64(8), object(8)
memory usage: 363.6+ MB

In [33]:
X['orig_bytes']=X['orig_bytes'].astype(float)

In [34]:
X['duration']=X['duration'].astype(float)

In [35]:
X['resp_bytes']=X['resp_bytes'].astype(float)

In [56]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2802755 entries, 0 to 2803569
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   ts             float64
 1   id.orig_p      float64
 2   id.resp_p      float64
 3   proto          object
 4   service        object
 5   duration       float64
 6   orig_bytes     float64
 7   resp_bytes     float64
 8   conn_state     object
 9   missed_bytes   float64
 10  history        object
 11  orig_pkts      float64
 12  orig_ip_bytes  float64
 13  resp_pkts      float64
 14  resp_ip_bytes  float64
dtypes: float64(11), object(4)
memory usage: 422.1+ MB

Removing some attack lables as they are very rare .. hence it is better to remove these attacks

In [45]:
X.drop(X[X['label'] == 'C&C-HeartBeat' ].index, inplace = True)

In [46]:
X.drop(X[X['label'] == 'C&C-Torii' ].index, inplace = True)

In [47]:
X.drop(X[X['label'] == 'Okiru-Attack' ].index, inplace = True)

In [52]:
X=X.iloc[:,:-1]

In [53]:
X.head()

,ts,id.orig_p,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
0,1.536227e+09,17576.0,8081.0,tcp,0,3000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
1,1.536227e+09,17576.0,8081.0,tcp,0,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
2,1.536227e+09,17576.0,8081.0,tcp,0,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
3,1.536227e+09,17576.0,8081.0,tcp,0,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
4,1.536227e+09,17576.0,8081.0,tcp,0,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0

In [55]:
Y.shape

(5,)

In [50]:
from imblearn.under_sampling import RandomUnderSampler