# Data Preparation and EDA for IoT23 dataset

In [26]:
import os 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
import csv
from numpy import array
from numpy import argmax
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import time as timer

In [10]:
data= pd.read_csv('clean_data.csv', low_memory=False)

In [11]:
del data['Unnamed: 0']

In [12]:
df=data

In [13]:
X= df.iloc[:,:-1]

In [31]:
Y=df['label']

In [15]:
X.head()

,ts,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
0,1.536227e+09,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
1,1.536227e+09,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
2,1.536227e+09,tcp,-,6000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
3,1.536227e+09,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
4,1.536227e+09,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0

In [16]:
cat_df =X.select_dtypes(include=['object']).copy()
cat_df.head()

  proto service conn_state history
0   tcp       -         S0       S
1   tcp       -         S0       S
2   tcp       -         S0       S
3   tcp       -         S0       S
4   tcp       -         S0       S

In [17]:
cat_df['service'] = cat_df['service'].str.replace('-','0')

In [18]:
num_df =X.select_dtypes(exclude=['object']).copy()

In [19]:
encode_all_cat =cat_df.apply(LabelEncoder().fit_transform)

In [20]:
encode_all_cat.head()

   proto  service  conn_state  history
0      1        0           5       14
1      1        0           5       14
2      1        0           5       14
3      1        0           5       14
4      1        0           5       14

In [21]:
encoded_data =pd.concat([num_df,encode_all_cat], axis=1)

In [22]:
encoded_data.head()

,ts,duration,orig_bytes,resp_bytes,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,proto,service,conn_state,history
0,1.536227e+09,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,5,14
1,1.536227e+09,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,5,14
2,1.536227e+09,6000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,5,14
3,1.536227e+09,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,5,14
4,1.536227e+09,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,5,14

In [23]:
encoded_data.shape

(884228, 13)

In [24]:
X_t=encoded_data

In [32]:
Y.head()

0    Okiru
1    Okiru
2    Okiru
3    Okiru
4    Okiru
Name: label, dtype: object

# Standard Scaling ...!

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn import neighbors
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import roc_auc_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import auc,roc_auc_score,roc_curve,precision_score,recall_score,f1_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [27]:
scaling=StandardScaler()

In [29]:
model = LogisticRegression()

In [34]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(model, X_t, Y, scoring=score, cv=10, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(

Finished training within 333.68 seconds

In [35]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [36]:
print(np.mean(scores['test_f1_macro']))

0.05865193637169942

In [37]:
print(np.mean(scores['test_accuracy']))

0.41493935953763783

In [38]:
print(np.mean(scores['test_precision_macro']))

0.04149468687379667

In [39]:
print(np.mean(scores['test_recall_macro']))

0.1

# Gussian Naive Bayes

In [40]:
gnb_model = GaussianNB()

In [42]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(gnb_model, X_t, Y, scoring=score, cv=10, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(

Finished training within 14.10 seconds

In [43]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [44]:
print(np.mean(scores['test_accuracy']))

0.08194704346705177

In [45]:
print(np.mean(scores['test_recall_macro']))

0.42174574932589265

In [46]:
print(np.mean(scores['test_precision_macro']))

0.3376819677494116

In [47]:
print(np.mean(scores['test_f1_macro']))

0.28159664695897224