# Data Preparation and EDA for IoT23 dataset

In [55]:
import os 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
import csv
from numpy import array
from numpy import argmax
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import time as timer

In [56]:
data= pd.read_csv('D:\JupyterNotebook\GitHub\IoT-BotNet-detection-on-IoT23-dataset\IoT23\Data files\clean_data.csv', low_memory=False)

In [58]:
data.head()

,Unnamed: 0,ts,id.orig_p,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,98304,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
1,98305,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
2,98306,1.536227e+09,17832.0,37215.0,tcp,-,6000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
3,98307,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
4,98308,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru

In [64]:
del data['Unnamed: 0']

In [65]:
df=data

In [66]:
df= data.drop(columns=['ts','id.orig_p','id.resp_p'])

In [67]:
X= df.iloc[:,:-1]

In [68]:
Y=df['label']

In [69]:
X.head()

,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
1,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
2,tcp,-,6000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
3,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
4,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0

In [70]:
cat_df =X.select_dtypes(include=['object']).copy()
cat_df.head()

  proto service conn_state history
0   tcp       -         S0       S
1   tcp       -         S0       S
2   tcp       -         S0       S
3   tcp       -         S0       S
4   tcp       -         S0       S

In [71]:
cat_df['service'] = cat_df['service'].str.replace('-','0')

In [72]:
num_df =X.select_dtypes(exclude=['object']).copy()

In [73]:
encode_all_cat =cat_df.apply(LabelEncoder().fit_transform)

In [74]:
encode_all_cat.head()

   proto  service  conn_state  history
0      1        0           4       11
1      1        0           4       11
2      1        0           4       11
3      1        0           4       11
4      1        0           4       11

In [75]:
encoded_data =pd.concat([num_df,encode_all_cat], axis=1)

In [76]:
encoded_data.head()

,duration,orig_bytes,resp_bytes,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,proto,service,conn_state,history
0,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
1,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
2,6000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
3,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
4,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11

In [77]:
encoded_data.shape

(393750, 12)

In [87]:
Xe=encoded_data

In [88]:
Xe = np.asarray(Xe).astype(np.float32)

In [89]:
print(Xe)

[[2.0e+06 0.0e+00 0.0e+00 ... 0.0e+00 4.0e+00 1.1e+01]
 [2.0e+06 0.0e+00 0.0e+00 ... 0.0e+00 4.0e+00 1.1e+01]
 [6.0e+06 0.0e+00 0.0e+00 ... 0.0e+00 4.0e+00 1.1e+01]
 ...
 [0.0e+00 0.0e+00 0.0e+00 ... 0.0e+00 4.0e+00 1.1e+01]
 [0.0e+00 0.0e+00 0.0e+00 ... 0.0e+00 4.0e+00 1.1e+01]
 [0.0e+00 0.0e+00 0.0e+00 ... 0.0e+00 4.0e+00 1.1e+01]]

In [79]:
Y.head()

0    Okiru
1    Okiru
2    Okiru
3    Okiru
4    Okiru
Name: label, dtype: object

In [39]:
le=LabelEncoder()

In [80]:
encoder=LabelEncoder()
encoder.fit(Y)
y=encoder.transform(Y)
np.unique(y)

array([0, 1, 2, 3, 4, 5, 6, 7])

# Standard Scaling ...!

In [81]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn import neighbors
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import roc_auc_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import auc,roc_auc_score,roc_curve,precision_score,recall_score,f1_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [82]:
scaling=StandardScaler()

In [83]:
X_sc=scaling.fit_transform(X_t)

In [84]:
X_sc.shape

(393750, 12)

In [47]:
model = LogisticRegression()

In [48]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(model, X_sc, Y, scoring=score, cv=10, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  warnings.warn(

Finished training within 97.87 seconds

In [49]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [50]:
print(np.mean(scores['test_f1_macro']))

0.6120745308651189

In [51]:
print(np.mean(scores['test_accuracy']))

0.907984761904762

In [52]:
print(np.mean(scores['test_precision_macro']))

0.7047638291569517

In [53]:
print(np.mean(scores['test_recall_macro']))

0.6015147519825527

# Gussian Naive Bayes

In [31]:
gnb_model = GaussianNB()

In [41]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(gnb_model, X_sc, y, scoring=score, cv=10, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  warnings.warn(

Finished training within 1.71 seconds

In [42]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [43]:
print(np.mean(scores['test_accuracy']))

0.5526120634920636

In [44]:
print(np.mean(scores['test_recall_macro']))

0.603078960708574

In [45]:
print(np.mean(scores['test_precision_macro']))

0.6924992656154296

In [46]:
print(np.mean(scores['test_f1_macro']))

0.5076918229070037

# Dropping ts, port numbers!

In [85]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(model, X_sc, Y, scoring=score, cv=10, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  warnings.warn(

Finished training within 109.26 seconds

In [86]:
print(np.mean(scores['test_accuracy']))

0.5084495238095238