# Data Preparation and EDA for IoT23 dataset

In [1]:
import os 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from collections import defaultdict
import csv
from numpy import array
from numpy import argmax
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import time as timer

In [2]:
data= pd.read_csv('D:\JupyterNotebook\GitHub\IoT-BotNet-detection-on-IoT23-dataset\IoT23\Data files\clean_data.csv', low_memory=False)

In [3]:
data.head()

,Unnamed: 0,ts,id.orig_p,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,98304,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
1,98305,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
2,98306,1.536227e+09,17832.0,37215.0,tcp,-,6000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
3,98307,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru
4,98308,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0,Okiru

In [4]:
del data['Unnamed: 0']

In [6]:
df=data

In [66]:
#df= data.drop(columns=['ts','id.orig_p','id.resp_p'])

In [7]:
X= df.iloc[:,:-1]

In [8]:
Y=df['label']

In [9]:
X.head()

,ts,id.orig_p,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
0,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
1,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
2,1.536227e+09,17832.0,37215.0,tcp,-,6000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
3,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0
4,1.536227e+09,17832.0,37215.0,tcp,-,2000000.0,0.0,0.0,S0,0.0,S,2.0,80.0,0.0,0.0

In [11]:
cat_df =X.select_dtypes(include=['object']).copy()
cat_df.head()

  proto service conn_state history
0   tcp       -         S0       S
1   tcp       -         S0       S
2   tcp       -         S0       S
3   tcp       -         S0       S
4   tcp       -         S0       S

In [14]:
cat_df['service'] = cat_df['service'].replace('-',0)

In [15]:
cat_df['service'].value_counts()

0       389209
dns       2852
irc       1647
http        34
ssl          6
dhcp         2
Name: service, dtype: int64

In [16]:
num_df =X.select_dtypes(exclude=['object']).copy()

In [17]:
encode_all_cat =cat_df.apply(LabelEncoder().fit_transform)

In [18]:
encode_all_cat.head()

   proto  service  conn_state  history
0      1        0           4       11
1      1        0           4       11
2      1        0           4       11
3      1        0           4       11
4      1        0           4       11

In [19]:
encoded_data =pd.concat([num_df,encode_all_cat], axis=1)

In [20]:
encoded_data.head()

,ts,id.orig_p,id.resp_p,duration,orig_bytes,resp_bytes,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,proto,service,conn_state,history
0,1.536227e+09,17832.0,37215.0,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
1,1.536227e+09,17832.0,37215.0,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
2,1.536227e+09,17832.0,37215.0,6000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
3,1.536227e+09,17832.0,37215.0,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11
4,1.536227e+09,17832.0,37215.0,2000000.0,0.0,0.0,0.0,2.0,80.0,0.0,0.0,1,0,4,11

In [21]:
encoded_data.shape

(393750, 15)

In [22]:
Xe=encoded_data

In [23]:
Xe = np.asarray(Xe).astype(np.float32)

In [24]:
print(Xe)

[[1.5362272e+09 1.7832000e+04 3.7215000e+04 ... 0.0000000e+00
  4.0000000e+00 1.1000000e+01]
 [1.5362272e+09 1.7832000e+04 3.7215000e+04 ... 0.0000000e+00
  4.0000000e+00 1.1000000e+01]
 [1.5362272e+09 1.7832000e+04 3.7215000e+04 ... 0.0000000e+00
  4.0000000e+00 1.1000000e+01]
 ...
 [1.5470661e+09 4.5081000e+04 2.2000000e+01 ... 0.0000000e+00
  4.0000000e+00 1.1000000e+01]
 [1.5470661e+09 5.2310000e+04 2.2000000e+01 ... 0.0000000e+00
  4.0000000e+00 1.1000000e+01]
 [1.5470661e+09 5.0165000e+04 2.2000000e+01 ... 0.0000000e+00
  4.0000000e+00 1.1000000e+01]]

In [25]:
Y.head()

0    Okiru
1    Okiru
2    Okiru
3    Okiru
4    Okiru
Name: label, dtype: object

In [26]:
le=LabelEncoder()

In [27]:
encoder=LabelEncoder()
encoder.fit(Y)
y=encoder.transform(Y)
np.unique(y)

array([0, 1, 2, 3, 4, 5, 6, 7])

# Standard Scaling ...!

In [30]:
scaling=StandardScaler()

In [32]:
X_sc=scaling.fit_transform(Xe)

In [33]:
X_sc.shape

(393750, 15)

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn import neighbors
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import roc_auc_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import auc,roc_auc_score,roc_curve,precision_score,recall_score,f1_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [35]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=5, random_state=None)

In [51]:
model = LogisticRegression()

In [52]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(model, X_sc, y, scoring=score, cv=10, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 8 members, which is less than n_splits=10.
  warnings.warn(

Finished training within 89.93 seconds

In [53]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [54]:
print(np.mean(scores['test_f1_macro']))

0.6030509267795903

In [55]:
print(np.mean(scores['test_accuracy']))

0.9080330158730158

In [56]:
print(np.mean(scores['test_precision_macro']))

0.6979862718195878

In [57]:
print(np.mean(scores['test_recall_macro']))

0.5889896056807228

# Gussian Naive Bayes

In [44]:
gnb_model = GaussianNB()

In [45]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(gnb_model, X_sc, y, scoring=score, cv=5, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

Finished training within 1.01 seconds

In [46]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [47]:
print(np.mean(scores['test_accuracy']))

0.5271999999999999

In [48]:
print(np.mean(scores['test_recall_macro']))

0.6144001936308481

In [49]:
print(np.mean(scores['test_precision_macro']))

0.7273000112001025

In [50]:
print(np.mean(scores['test_f1_macro']))

0.5255998090702342

# Random Forest Classifier

In [61]:
Rf_clf=RandomForestClassifier(n_estimators = 300, criterion = 'entropy', random_state =124)

In [62]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(Rf_clf, X_sc, y, scoring=score, cv=5, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

Finished training within 79.53 seconds

In [63]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [64]:
print(np.mean(scores['test_accuracy']))

0.9869384126984126

In [65]:
print(np.mean(scores['test_recall_macro']))

0.9648558092206277

In [66]:
print(np.mean(scores['test_precision_macro']))

0.9397957374983175

In [67]:
print(np.mean(scores['test_f1_macro']))

0.9261050675928981

Decision Tree classifier

In [68]:
DT_clf= DecisionTreeClassifier()

In [69]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(DT_clf, X_sc, y, scoring=score, cv=5, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

Finished training within 2.84 seconds

In [70]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [71]:
print("Test Accuracy:", np.mean(scores['test_accuracy']))
print("Recall score: ", np.mean(scores['test_recall_macro']))
print("Precision score: ", np.mean(scores['test_precision_macro']))
print("F1-score: ", np.mean(scores['test_f1_macro']))

Test Accuracy: 0.9860698412698413
Recall score:  0.96863695972716
Precision score:  0.9222889547469018
F1-score:  0.9160778228331481

# XGB Classifier!

In [78]:
xgb_model = XGBClassifier()

In [79]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(xgb_model, X_sc, y, scoring=score, cv=5, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

Finished training within 155.71 seconds

In [80]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [81]:
print("Test Accuracy:", np.mean(scores['test_accuracy']))
print("Recall score: ", np.mean(scores['test_recall_macro']))
print("Precision score: ", np.mean(scores['test_precision_macro']))
print("F1-score: ", np.mean(scores['test_f1_macro']))

Test Accuracy: 0.9826285714285715
Recall score:  0.9712187300546191
Precision score:  0.9082650047780977
F1-score:  0.9071290586735203

# KNN Model

In [84]:
knn_model = neighbors.KNeighborsClassifier()

In [85]:
start = timer.time()
score = ['precision_macro', 'recall_macro','accuracy','f1_macro']
scores = cross_validate(knn_model, X_sc, y, scoring=score, cv=5, n_jobs=-1)
end = timer.time()
print("Finished training within {:.2f} seconds".format(end-start))

Finished training within 136.22 seconds

In [86]:
sorted(scores.keys())

['fit_time',
 'score_time',
 'test_accuracy',
 'test_f1_macro',
 'test_precision_macro',
 'test_recall_macro']

In [87]:
print("Test Accuracy:", np.mean(scores['test_accuracy']))
print("Recall score: ", np.mean(scores['test_recall_macro']))
print("Precision score: ", np.mean(scores['test_precision_macro']))
print("F1-score: ", np.mean(scores['test_f1_macro']))

Test Accuracy: 0.9883657142857143
Recall score:  0.9695422027973315
Precision score:  0.9190394302071686
F1-score:  0.9221765048499231